<header class="adm-header">
    <div class="adm-headercontainer1">
      <ul class="adm-ulcontainer">
        <li><a href="/admin/customers">customers</a></li>
        <li><a href="/admin/tours">tours</a></li>
      </ul>
    </div>
  <a href="/"><img class="logo2" src="images/logo2.png"></a>
    <div class="adm-headercontainer2">
      <ul class="adm-ulcontainer">
        <li><a href="/admin/guides">guides</a></li>
        <li><a href="/admin/participants">participants</a></li>
      </ul>
    </div>
</header>