<header class="cli-header">
  <a href="/"><img class="logo2" src="../../images/logo2.png"></a>
  <ul class="cli-ulcontainer" id="login-container">
    <li><a href="/client/login">log in</a></li>
    <li></li>
    <li><a href="/client/register">sign up</a></li>
  </ul>
  <ul class="cli-ulcontainer" id="cab-container">
    <li>MisterProper</li>
    <li></li>
    <li><a href="/client-cabinet" style="color:#ffe08d; font-weight:900;">your tours</a> | <a href="/client/logout">log out</a></li>
  </ul>
</header>