<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"-->
  <title>ChernobyLive</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css">

    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <%- include('../partials/errorMessage.ejs') %>
  <%- body %>
</body>
</html>