<%- include('../_admin_header_common_common3') %>
<div class="adm-containerooo">
  <h2 class="adm-title">edit Tour <i><%= tour.id %></i></h2>
  <form action="/admin/tours/<%= tour.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
      <a class="btn-cancel" href="/admin/tours">Cancel</a>
      <button class="btn-add2" type="submit">Update</button>
    </div>
  </form>
</div>
<footer>
  <div>© 2020, ChernobyLive | bb018 sk </div>
</footer>